<div class="custom-shape-divider-top-1685213912">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>

<div class="contador">
    Cupos disponibles: {{ contador }}
</div>


<!-- Alerta Modal HTML -->
<div id="myModal" class="modal fade" *ngIf="mostrarModal">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="fa-solid fa-check"></i>
				</div>				
				<h4 class="modal-title">Felicidades!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Has reservado el cupo número: {{contador}}</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div> 

  
<div class="container"> 
    <div class="row align-items-center">
        <div class="col-md-6 form-reserva">
            <div class="custom-form">
                <form (ngSubmit)="procesar()">
                    <div class="title">
                        <h2 class="text-center mb-4">Registro de Comensal</h2>
                        <h2 class="text-center mb-4">2023-I</h2>
                    </div>
                    
                    
                    <div class="mb-5 custom-input">
                        <label for="codigo" class="form-label">CÓDIGO</label>
                        <input type="number" name="codigo" class="form-control no-spin" [(ngModel)]="alumno.codigo" required #codigo="ngModel">
                        
                      </div>
                    
                      <div class="mb-5 custom-input">
                        <label for="password" class="form-label">CONTRASEÑA</label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="alumno.password" required #password="ngModel">
                        
                      </div>

                    <!-- Captcha generate-->
                    <div class="captcha-container">
                        <div class="text-container-captcha">
                            <p class="captcha-text">{{ captcha }}</p>
                        </div>
                        <div class="captcha-icon">
                            <i class="fas fa-redo refresh-icon" (click)="generateCaptcha()"></i>
                        </div>
                    </div>
                      
                    <div class="mb-5 custom-input">
                        <label for="captcha" class="form-label">CAPTCHA</label>
                        <input type="text" name="captcha" class="form-control" [(ngModel)]="alumno.captchaInput" required #captchaInput="ngModel">
                        
                      </div>
                      
                    <div class="btn-reserva custom-input text-center">
                        <button href="#myModal"  type="submit" class="btn btn-custom" data-toggle="modal" (click)="reservar()">Reservar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 image-dish">
            <img src="../../assets/images/imagen.png" alt="">
        </div>
    </div>
</div>
